@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.wrapper{

  .title{
    position: absolute;
    width: 194px;
    height: 44px;
    left: 112px;
    top: 22px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.01em;

    color: #0069CA;
  }

  .search-input{
    position: absolute;
    width: 590px;
    height: 48px;
    left: 425px;
    top: 20px;
    background: #FFFFFF;
    border: 2px solid #8C19D2;
    border-radius: 6px;
  }

  .search-text-input{
    position: absolute;
    height: 28px;
    left: 48px;
    right: 16px;
    top: calc(50% - 28px/2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.36);
  }

  .search-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
    position: absolute;
    width: 176px;
    height: 48px;
    left: 1050px;
    top: 20px;
    background: #8C19D2;
    border-radius: 6px;
    cursor: pointer;
  }

  .search-text-button{
    width: 61px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
